* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

html {
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 0.5rem;
}

.center p {
    padding: 0.625rem;
    font-family: 'knewave', cursive;
    font-size: 1.2rem;
    text-align: center;
}

.center a {
    display: flex;
    justify-content: center;
}

.center img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.4s ease;
}

.center img:hover {
    transform: translateY(-20px);
}

@media (max-width: 600px) {
    .center {
        width: 100%;
    }

    .center img {
        max-width: 80%;
    }
}

@media (min-width: 601px) {
    .center {
        width: 100%;
    }

    .center img {
        max-width: 70%;
    }
}

@media (min-width: 768px) {
    .center {
        width: 100%;
    }

    .center img {
        max-width: 60%;
    }
}

@media (min-width: 992px) {
    .center {
        width: 100%;
    }

    .center img {
        max-width: 50%;
    }
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.875rem;
}

.top h1 {
    font-size: 2.3rem;
}

.top p {
    font-size: 2rem;
}