* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

html {
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.icon button{
    margin-left: 1.875rem;
    font-size: 50px;
    border: none;
    background: inherit;
  }

.icon button:hover {
    cursor: pointer;
  }

.sidebar {
    position: fixed;
    top: 0;
    left: -220px; /* Hidden off-screen */
    width: 13.75rem;
    height: 100vh;
    background-color: #f4f1e1;
    opacity: 0.7;
    padding: 20px;
    transition: left 0.3s ease; /* Slide-in animation */
}

.sidebar.active {
    left: 0;
}

.sidebar ul {
    list-style-type: none;
    margin-top: 40px;
}

.sidebar ul li {
    margin: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    color: black;
    border-radius: 5px;
    padding: 0.625rem;
    font-family: cursive;
}

.sidebar ul li a:hover {
    transform: translateX(10px);
    background-color: #f3d4a5;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content .contact-form {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    background-color: whitesmoke;
    opacity: 0.8;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    padding: 40px 30px;
}

.form-group {
    margin-bottom: 15px;
}

.contact-form h2 {
    font-size: 25px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 5px;
}

.form-group textarea {
    resize: none;
    height: 100px;
}

.form-group input:focus, .form-group textarea:focus {
    border-color: #6c63ff;
    outline: none;
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    text-align: center;
    color: white;
    border: none;
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #5751d9;
}