* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

  html {
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .icon button{
    margin-left: 1.875rem;
    font-size: 50px;
    border: none;
    background: inherit;
  }

  .icon button:hover {
    cursor: pointer;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -220px; /* Hidden off-screen */
    width: 13.75rem;
    height: 100vh;
    background-color: #f4f1e1;
    opacity: 0.7;
    padding: 20px;
    transition: left 0.3s ease; /* Slide-in animation */
}

.sidebar.active {
    left: 0;
}

.sidebar ul {
    list-style-type: none;
    margin-top: 40px;
}

.sidebar ul li {
    margin: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    color: black;
    border-radius: 5px;
    padding: 0.625rem;
    font-family: cursive;
}

.sidebar ul li a:hover {
    transform: translateX(10px);
    background-color: #f3d4a5;
}

.container {
    width: 100%;
    height: 100%;
}

.add-note-button {
    position: absolute;
    left: 43.5%;
    font-size: 20px;
    margin: 40px;
    height: 3.125rem;
    width: 12.5rem;
    border-radius: 10px;
    border: 0;
    transition: all 0.3s ease;
    background: #CAD2DD;
}

.add-note-button:hover {
    background-color: #ADB4BE;
    transform: scale(1.05);
}

.note {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: #A1DF8A;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    resize: none;
}

.note textarea {
    width: 95%;
    height: 95%;
    border: none;
    background: transparent;
    font-size: 14px;
    outline: none;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.delete-note {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: rgba(255, 132, 132, 0.752);
    border: none;
    transition: background-color 0.3s ease;
}

.delete-note:hover {
    background-color: rgba(249, 156, 156, 0.713);
}

.top {
    display: flex;            
    justify-content: center;  
    align-items: center;      
}

.top .disclaimer {
    display: flex;            
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    border-radius: 10px;
    width: 50%;
    height: auto;
    background: white;
    opacity: 0.8;
    padding: 30px;
    text-align: center;
}